header.small {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 5px;
    // position: relative;

    // .menu-btn {
    //     position: absolute;
    //     top: 20px;
    //     right: 20px;
    //     background-color: $purple;
    //     border: 1px solid $white;
    //     box-shadow: $black-shadow;
    //     height: 30px;
    //     width: 30px;
    //     border-radius: 30px;

    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;

    //     // & > * {
    //     //     stroke: $white;
    //     //     stroke-linecap: round;
    //     //     stroke-miterlimit: 10;
    //     //     stroke-width: 2px;

    //     //     width: 8px;
    //     // }

    //     // &.open {
    //     //     animation: to-open 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    //     //     @keyframes to-open {
    //     //         0% {
    //     //             .stripe-top {
    //     //                 transform: translateY(4px);
    //     //             }

    //     //             .stripe-btm {
    //     //                 transform: translateY(-4px);
    //     //             }
    //     //         }

    //     //         100% {
    //     //             .stripe-top {
    //     //                 transform: translateY(0);
    //     //             }

    //     //             .stripe-btm {
    //     //                 transform: translateY(0);
    //     //             }
    //     //         }
    //     //     }
    //     // }

    //     // &.close {
    //     //     animation: close 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    //     //     @keyframes close {
    //     //         0% {
    //     //             .stripe-top {
    //     //                 transform: translateY(0);
    //     //             }

    //     //             .stripe-btm {
    //     //                 transform: translateY(0);
    //     //             }
    //     //         }

    //     //         100% {
    //     //             .stripe-top {
    //     //                 transform: translateY(4px);
    //     //             }

    //     //             .stripe-btm {
    //     //                 transform: translateY(-4px);
    //     //             }
    //     //         }
    //     //     }
    //     // }
    // }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h1.logo {
            font-family: ga;
            color: $yellow;
            font-size: rem(25px);
            line-height: 1.375;
            // transform: translateY(5px);
            // z-index: 5;
        }

        .logo-box {
            svg {
                height: 55px;
            }
        }
    }

    .hr {
        width: 375px;
    }

    .menu-wrapper {
        .screen {
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100vh;
            background-color: $black;
            opacity: 0.85;

        }

        .menu-btn {
            position: absolute;
            top: 20px;
            right: 20px;

            // background-color: $purple;

            border: 2px solid $white;
            box-shadow: $black-shadow;
            height: 30px;
            width: 30px;
            border-radius: 30px;
            z-index: 10;

            .hamburger-react {
                transform: translate(22%, -22%);
            }
        }

        nav {
            position: absolute;
            top: 20px;
            right: 35px;

            width: 225px;
            background-color: $purple;
            border: 2px solid $white;
            border-radius: 20px 0 20px 20px;

            padding: 25px 15px;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: column;
                gap: 25px;

                li {
                    a {
                        text-decoration: none;
                        color: $white;
                        font-size: rem(18px);

                        &.active {
                            color: $bg;
                            font-weight: bolder;
                            text-shadow: $black-shadow;
                        }
                    }
                }
            }
        }
    }
}
