.about {
    background-image: linear-gradient(160deg, $purple, $bg);
    padding-top: 5px;
    overflow-x: hidden;

    gap: 30px;

    .about-box {
        width: 375px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .my-words {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: 375px;

            padding: 30px 15px;

            p {
                font-size: rem(17px);
                text-align: center;
                line-height: 1.5;
                letter-spacing: 0.25px;
                font-weight: 100;
            }
        }

        .contact-box {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            background-color: $bg;
            width: 550px;
            padding-top: 35px;
            
            .img-box {
                z-index: 10;
                align-self: flex-end;
                width: 175px;
                
                img {
                }
            }
            
            .contact {
                z-index: 10;
                margin: 0 15px;
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                padding-bottom: 35px;

                p {
                    color: $green;
                    text-align: center;
                    line-height: 1.35;
                    font-weight: 600;
                }

                h5 {
                    font-size: rem(20px);
                }

                svg {
                    box-shadow: $white-shadow;
                    margin-top: 10px;
                    height: 36px;
                }
            }
        }
    }
}
