.rules {
    background-image: linear-gradient(160deg, $purple, $bg);
    padding: 0 15px;
    gap: 30px;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 375px;

        // margin: 0 15px;
        padding: 30px 15px;
        border-radius: 20px;
        background-color: $bg;
        border: 3px solid $bg-dark;
        box-shadow: $white-shadow;

        h2 {
            margin-bottom: 5px;
        }

        p {
            font-size: rem(16px);
            text-align: center;
            line-height: 1.25;

            span {
                font-size: rem(16px);
                margin-inline-start: 5px;
            }
        }

        .circle {
            height: 5px;
            width: 5px;
            border-radius: 5px;
            background-color: $green;
        }
    }

    .auth-btn {
        width: 375px;
    }
}
