.welcome {
    background-image: linear-gradient(160deg, $purple, $bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 30px;

    .btns-box {
        border: 3px solid $bg-dark;
        box-shadow: $white-opc;
        background-color: $bg;
        width: 324px;
        border-radius: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
