.welcome {
    background-image: linear-gradient(160deg, $purple, $bg);
    padding: 0 15px;
    gap: 30px;

    p.player-welcome {
        font-weight: 400;
        font-size: rem(20px);

        span {
            font-weight: 600;
            font-size: rem(30px);
            color: $yellow;
        }
    }

    .call-to-action {
        text-align: center;

        h3.slogan {
            margin-bottom: -15px;
        }
    }

    pre {
        font-size: rem(18px);
        font-family: sans-serif;
        margin-bottom: -15px;
    }

    .friends-area {
        display: flex;
        flex-direction: column;

        padding: 30px;

        .no-friends {
            width: 290px;
            height: 210px;


            p.no-friends {
                color: $pink;
                text-align: center;
                line-height: 210px;
                font-size: rem(24px);
            }
        }

        .friend-list {
            display: grid;
            grid-template-rows: repeat(6, 30px);
            grid-template-columns: repeat(2, 130px);
            gap: 15px 15px;
            justify-items: center;

            .friend-preview {
                &.selected {
                    h4 {
                        color: $pink;
                    }
                }
            }
        }

        button {
            font-size: rem(18px);
        }
    }
}
