// ::placeholder {
//     color: $txt;
// }

* {
    box-sizing: border-box;
}

html {
    font-family: os, sans-serif;
    color: $txt;
    font-size: rem(14px);
}

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    #root {
        // min-height: 100vh;

        & > * {
            min-height: 100vh;
            max-width: 415px;
            // height: 100%;
            // width: 415px;
            // margin: 0 auto;
            // .content {
            //     flex-grow: 1;
            //     display: flex;
            //     flex-direction: column;
            //     gap: 30px;
            // }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

h2 {
    color: $green;
    font-size: rem(20px);
    font-family: ga;
    font-weight: lighter;
}

img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

input {
    border: none;
    outline: none;
    background: transparent;
    font-family: os, sans-serif;
    color: $black;
}

button {
    // width: 100%;
    // max-width: 385px;
    font-family: os-i, sans-serif;
    font-size: rem(18px);
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    outline: none;
    box-shadow: $black-shadow, $inner-shadow;
    font-style: italic;
    letter-spacing: 0.5px;
    height: 40px;
    line-height: 1;

    &:active {
        box-shadow: none;
        transform: scale(97%);
        box-shadow: $active-shadow;
    }
}

.btn-pink {
    background-color: $pink;
    color: $txt;
}
.btn-green {
    background-color: $green;
    color: $txt;
}
.btn-blue {
    background-color: $blue;
    color: $txt;
}

.btn-yellow {
    background-color: $yellow;
    color: $bg;
}

.btn-gray {
    background-color: $gray;
    color: $txt;
}

// // links
// a {
//     color: $txt;
//     text-decoration: none;
// }
