// ::placeholder {
//     color: $txt;
// }

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    color: $txt;
    font-size: rem(14px);
}

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    #root {
        // width: 100vw;
        // background-color: #1d06644b;
        display: flex;
        justify-content: center;

        & > * {
            // position: relative;
            min-height: 100vh;
            width: 550px;
            // padding: auto 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

p {
    font-weight: 100;
}

//logo
h1 {
    font-family: ga;
}

// page title
h2 {
    color: $yellow;
    font-size: rem(20px);
    font-family: ga;
    font-weight: lighter;
}

//slogans
h3 {
    font-family: ga;
    font-size: rem(20px);
    color: $green;
    text-align: center;
}

// friends/players
h4 {
    font-size: rem(18px);
    font-weight: 100;
}

//section title/email
h5 {
    font-size: rem(14px);
    font-weight: 100;
}

img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

input {
    border: none;
    outline: none;
    background: $white;
    // font-family: os, sans-serif;
    color: $black;
    border-radius: 5px;
    // height: 30px;
}

button {
    width: 100%;
    color: $txt;
    // font-family: os-i, sans-serif;
    font-size: rem(16px);
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    outline: none;
    box-shadow: $black-shadow, $inner-shadow;
    box-shadow: $black-shadow;
    font-style: italic;
    letter-spacing: 0.25px;
    height: 40px;
    line-height: 1;

    &:active {
        // box-shadow: none;
        transform: scale(97%);
        // box-shadow: $active-shadow;
    }
}

button:disabled{
    background-color: $gray-dark;
    // color: $bg;
    box-shadow: none;
    
    &:active{
        transform: scale(100%);
    }
}

.frame {
    border: 3px solid $bg-dark;
    box-shadow: $white-shadow;
    background-color: $bg;
    border-radius: 20px;
}

.pink-btn {
    border: 3px solid $pink-dark;
    background-color: $pink;
}
.green-btn {
    border: 3px solid $green-dark;
    background-color: $green;
}
.blue-btn {
    border: 3px solid $blue-dark;
    background-color: $blue;
}

.yellow-btn {
    border: 3px solid $yellow-dark;
    background-color: $yellow;
    color: $bg;
}

.gray-btn {
    border: 3px solid $gray-dark;
    background-color: $gray;
}

// // links
// a {
//     color: $txt;
//     text-decoration: none;
// }
