@font-face {
    font-family: os;
    src: url(../../fonts/OS/OpenSans-Regular.ttf);
}
@font-face {
    font-family: os-i;
    src: url(../../fonts/OS/OpenSans-Italic.ttf);
}

@font-face {
    font-family: os-light;
    src: url(../../fonts/OS/OpenSans-Light.ttf);
}
@font-face {
    font-family: os-light-i;
    src: url(../../fonts/OS/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: os-semi-bold;
    src: url(../../fonts/OS/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: os-bold;
    src: url(../../fonts/OS/OpenSans-Bold.ttf);
}